<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-logo">
            <img src="/img/logo.png" class="logo" alt="logo">
        </div>
        <div class="login-card-header">
           <h1>Register</h1>
        </div>
         <form action="/auth/signup" method="POST" class="login-card-form" >
              <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">person</span>
                    <input type="text" placeholder="Name"  name="name" value="{{name}}" required autoFocus>
                </div>

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" placeholder="E-mail"  name="email" value="{{email}}"required autoFocus>
                </div>

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Password" value="{{password}}" name="password" required>
                </div>

                     <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Re-enter password"  name="confirm_password" value="{{confirm_email}}" required autoFocus>
                </div>
                <button type="submit">Register</button>
            </form>
        
        <div class="login-card-footer">
                Have an account? <a href="#/auth/signin">Sign in!</a>
        </div>
            
    </div>
</div>
