<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-logo">
            <img src="/img/logo.png" class="logo" alt="logo">
        </div>
        <div class="login-card-header">
           <h1>Sign In</h1>
           <div>Please, log into your account to   get access to the web app!</div>
        </div>
         <form action="/auth/signin" method="POST" class="login-card-form" >
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" placeholder="E-mail"  name="email" required autoFocus>
                </div>

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Password"  name="password" required>
                </div>

                <div class="form-item-other">
                    <div class="checkbox">
                        <input type="checkbox" id="rememberMeCheckbox" checked>
                        <label for="rememberMeCheckbox">Remember me</label>
                    </div>
                    <a href="#">I forgot my password!</a>
                </div>
                <button type="submit">Sign-in</button>
            </form>
        
        <div class="login-card-footer">
                Don't have an account? <a href="#">Create one!</a>
        </div>
            
    </div>
</div>
